.main{
    width: 100%;
    padding-bottom: 101px;
}

.main-c{
    width: 1200px;
    margin: 0 auto;
}

/* banner */

.main-c .banner{
    width: 1200px;
    height: 300px;
    background: url(../img/projectbanner.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 50px;
}

/* 家居板块 上 */

.box{
     margin-bottom: 99px;
}

.box-hd{
    overflow: hidden;
}

.box-hd .tip{
    float: left;
    height: 14px;
}

.box-hd .tip span{
    color: #668aca;
}

.box-hd .nav{
    float: right;
}

.box-hd .nav-item{
    float: left;
    width: 96px;
    height: 20px;
    line-height: 14px;
    text-align: center;
}

.box-hd .nav-item .line{
    display: block;
    width: 12px;
    height: 1px;
    background-color: #668aca;
    margin: 3px auto 0;
    opacity: 0;
}

.box-hd .col-line{
    float: left;
    width: 1px;
    height: 8px;
    background-color: #b5b5b5;
    margin-top: 5px;
}

.box-hd .nav-item:hover .line{
    opacity: 1;
}

.box-hd .nav-item:hover a{
    color: #668aca;
    font-size: 16px;
}

.box .active a{
    color: #668aca;
    font-size: 16px;
}

.box .active .line{
    opacity: 1;
}

/* 家具板块 下 */

.project-list{
    overflow: hidden;
    margin-top: 70px;
}

.project-item{
    position: relative;
    float: left;
    width: 360px;
    height: 270px;
    margin-right: 60px;
}

.project-item .cover{
    width: 100%;
    height: 180px;
}

.project-item .info .city{
    line-height: 14px;
    margin: 28px 0 7px 50px;
}

.project-item .info .desc{
    font-size: 12px;
    line-height: 13px;
    margin-left: 50px;
}

.project-item .info .icon{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 50px;
    bottom: 30px;
}

